<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Build 221 Dev -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Accenture Assignment - Login</title>
    <style>

      body {
        background-image: url("https://www.foodcycle.org.uk/wp-content/uploads/2016/08/accenture-logo.gif");
        background-size: 100%;
        box-sizing: border-box;
        background-color: #161616;
        height: 100%;
        width: 100%;
        margin: 0;
      }

      .loginPage {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /*width: 300px;*/
        height: 100vh;
      }

      h5 {
        /*max-width: 50%;*/
        font-family: 'Gotham Thin', 'Gotham', 'Helvetica Neue', Arial;
        font-size: 40px;
        text-align: center;
        background-color: rgb(255, 220, 0);
        color: #161616;
        padding: 10px;
      }

      h2 {
            /*max-width: 50%;*/
            font-family: 'Gotham Thin', 'Gotham', 'Helvetica Neue', Arial;
            font-size: 25;
            text-align: center;
            background-color: rgb(255, 220, 0);
            color: #161616;
            padding: 10px;
      }

      .rareBrand {
        color: magenta;
      }

      .loginForm {
        display: flex;
        /*max-width: 50%;*/
        flex-direction: column;
        justify-content: center;
        background-color: transparent;
        padding: 10px;
        width: 200px;
      }

      .input {
        width: 100%;
        background-color: #161616;
        border-style: solid;
        border-color: rgba(255, 255, 255, .2);
        color: rgba(255, 255, 255, .6);
        margin: 10px 0;
        line-height: 20px;
        padding: 5px;
      }

      .input::placeholder {
        text-transform: uppercase;
        color: rgba(255, 255, 255, .8);
      }

      .requestAdminAccess {
        color: rgba(255, 255, 255, .8);;
        font-style: italic;
        text-align: center;
      }

      .button {
        display: inline-block;
        cursor: pointer;
        background-color: black;
        text-decoration: none;
        font-family: 'Interstate BlackCond', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
        font-size: 14px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: white;
        height: 30px;
        padding: 10px 20px;
        line-height: 10px;
        margin-right: 20px;
        text-align: center;
        --webkit-appearance: none;
        border: none;
        margin: 20px auto;
      }

      .btn-accenture {
        padding-bottom: 0px;
        height: 22px;
        border-radius: 5px;
      }

      .logo {
        max-height: 250px;
        max-width: 250px;
        margin: 15px;
      }

      .error {

      }

    </style>
</head>

  <body>
    <img src="https://www.foodcycle.org.uk/wp-content/uploads/2016/08/accenture-logo.gif" class="logo"/>
    <div class="loginPage">
      <div class="loginForm">
        <a class="button btn-accenture" href="/auth/facebook">LOGIN</a>
      </div>
    </div>

  </body>
</html>
